.badge {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    min-width: 100px;
    color: white;
}

.pending {
    background-color: #f0ad4e;
}

.preparing {
    background-color: #5bc0de;
}   

.shipping {
    background-color: #0275d8;
}

.delivered {
    background-color: #5cb85c;
}

.canceled {
    background-color: #d9534f;
}